<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>‧e</string>
		<key>shortcut</key>
		<string>-e</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‧e‧s</string>
		<key>shortcut</key>
		<string>-e-s</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‧e‧s</string>
		<key>shortcut</key>
		<string>-es</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‧</string>
		<key>shortcut</key>
		<string>·</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tou‧te‧s</string>
		<key>shortcut</key>
		<string>tou-es</string>
	</dict>
</array>
</plist>
